<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
    window.currentTeams = <%= render(
      'api/teams/teams.json.jbuilder',
      teams: current_user.teams
    ).html_safe %>
  </script>
<% end %>

<main id="root"></main>
