<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Basana</h1>

    <p>Hi, <%= @user.name %>, hope you and your team enjoy Basana!</p>
  </body>
</html>
