/* line 1, /Users/liamzhang/Desktop/Basana/app/assets/stylesheets/components/top_nav_bar.scss */
.top-nav-bar {
  height: 40px;
  font-size: 13px;
  color: #848f99;
  border-bottom: 1px solid #e0e6e8;
}

/* line 8, /Users/liamzhang/Desktop/Basana/app/assets/stylesheets/components/top_nav_bar.scss */
.top-nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 14, /Users/liamzhang/Desktop/Basana/app/assets/stylesheets/components/top_nav_bar.scss */
.top-nav-bar > ul > li,
.top-nav-bar > ul > ul {
  margin: 12px 16px;
}

/* line 19, /Users/liamzhang/Desktop/Basana/app/assets/stylesheets/components/top_nav_bar.scss */
.top-nav-bar > ul > ul li {
  margin: 0px 15px;
}

/* line 23, /Users/liamzhang/Desktop/Basana/app/assets/stylesheets/components/top_nav_bar.scss */
.top-nav-bar > ul > ul li:first-child {
  margin-left: 10px;
  color: #151b26;
  transition: 0.3s ease-in-out;
}

/* line 29, /Users/liamzhang/Desktop/Basana/app/assets/stylesheets/components/top_nav_bar.scss */
.top-nav-bar > ul > ul li:first-child:hover {
  color: #14aaf5;
}

/* line 33, /Users/liamzhang/Desktop/Basana/app/assets/stylesheets/components/top_nav_bar.scss */
.top-nav-bar li {
  transition: 0.3s ease-in-out;
}

/* line 37, /Users/liamzhang/Desktop/Basana/app/assets/stylesheets/components/top_nav_bar.scss */
.top-nav-bar li:hover {
  color: #14aaf5;
  cursor: pointer;
}
