#burger {
    width: 18px;
    position: absolute;
    left: -30px;

    &:before {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: #ccc;
        margin-bottom: 4px;
        transition: 0.8s;
        transform: rotate(-45deg) translateY(4.5px) translateX(-4px);
    }
    
    &:after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: #ccc;
        margin-bottom: 4px;
        transition: 0.8s;
        transform: rotate(45deg);
    }
    
    &.open {
        border-bottom: 2px solid #222b37;
        left: 20px;

        &:before {
            background-color: #222b37;
            transform: none;
        }

        &:after {
            background-color: #222b37;
            transform: none;
        }
    }
}

