.calendar-container {
    min-width: 95%;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.calendar {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 6px;
}

.calendar-scroll-layer {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.calendar-dates-row,
.calendar-days {
    display: flex;
    font-size: 12px;
}

.calendar-days {
    color: #848f99;
    border-bottom: 2px solid #edf1f2;
    min-height: 15px;
}

.calendar-dates-row {
    min-height: calc(100% / 4);
}

.calendar-dates-row>div,
.calendar-days>div {
    width: calc(100% / 7);
    box-sizing: border-box;
}

.calendar-dates-row>div {
    border-bottom: 4px solid #edf1f2;
    padding-top: 4px;
    margin: 0 4px;
}

.calendar-header {
    margin: 5px 15px 15px 15px;
    display: flex;
    justify-content: center;
    min-height: 20px;
}

.calendar-header .switch-button-left,
.calendar-header .switch-button-right {
    color: #848f99;
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
}

.calendar-header .switch-button-left:hover,
.calendar-header .switch-button-right:hover {
    color: #008ce3;
}

.calendar-header .switch-button-left:hover span,
.calendar-header .switch-button-right:hover span {
    position: relative;
    left: 5px;
}

.calendar-header .switch-button-left {
    transform: rotate(180deg)
}

.calendar-header .calendar-header-content {
    margin: auto;
}

.calendar-task-index-item {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #b7bfc6;
    border-radius: 4px;
    margin: 2px;
}

.calendar-task-index-item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 110px;
    font-size: 11px;
}

.calendar-task-index-item .member-avatar,
.calendar-task-index-item .empty-avatar {
    box-sizing: border-box;
    height: 23px;
    width: 23px;
    border: 1px dashed #b7bfc6;
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #848f99;
}

.calendar-task-index-item .empty-avatar svg {
    height: 16px;
    width: 16px;
}

.calendar-task-index-item .task-check-box-unchecked,
.calendar-task-index-item .task-check-box-checked {
    height: 23px;
    width: 23px;
}

.calendar-task-index-item svg {
    width: 12px;
    height: 12px;
}

.calendar-task-index-item .button-container {
    border: 1px solid #b7bfc6;
    border-right: none;
    border-radius: 4px 0 0 4px;
    padding: 3px;
    position: absolute;
    left: -28px;
    z-index: 1;
    background-color: #fff;
}