.comment-list {
  height: calc(100% - 415px);
  overflow: auto;
}

.comment-list .member-avatar {
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 16px 0 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #848f99;
}

.comment-list img {
  height: 100%;
  width: 100%;
}

.comment-list .empty-avatar svg {
  height: 16px;
  width: 16px;
}

.comment-list .comment-feed-container {
  position: relative;
  padding: 10px 30px;
  display: flex;
}

.comment-list .comment-feed-content {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.comment-list .comment-feed-detail {
  display: flex;
  align-items: center;
}

.comment-list .comment-feed-create-date {
  font-size: 11px;
  color: #9ca6af;
  margin-left: 10px;
}

.comment-list>div {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  color: #9ca6af;
}

.comment-feed-content>div {
  padding: 3px 0;
}

.comment-option-button svg {
  fill: #ccc;
  position: absolute;
  width: 15px;
  right: 8px;
  cursor: pointer;
}

.comment-option-button svg:hover {
  fill: #59adf1;
}
