.create-comment-form {
  background-color: #f6f8f9;
  border-top: 1px solid #e0e6e8;
  border-radius: 3px;

  .comment-form-avatar-container {
    position: relative;
  }

  .profile-dropdown {
    top: 35px;
    left: 5px;
  }
}

.create-comment-form>div {
  padding: 10px 30px;
  display: flex;
}

.create-comment-form,
.update-comment-form {
  .comment-form-util {
    padding: 5px 10px;
  }

  form {
    border: 1px solid #d5dce0;
    border-radius: 4px;
    width: calc(100% - 50px);
    height: 150px;
    background-color: #fff;
  }

  textarea {
    padding: 10px;
    font-size: 13px;
    height: 100px;
    width: 100%;
    resize: none;
    box-sizing: border-box;
  }

  button {
    background-color: #14aaf5;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 9px;
    font-size: 13px;
    transition: 0.3s;
  
    &:hover {
      background-color: #008ce3;
    }
  }
}

.update-comment-form {
  li {
    display: nonel;
  }

  form {
    border: 1px solid #d5dce0;
    border-radius: 4px;
    width: 100%;
    height: 150px;
    background-color: #fff;
  }

  .update-comment-cancel {
    background-color: #fff;
    border: 1px solid #b7bfc6;
    color: #646f79;
    margin-left: 180px;
    margin-right: 5px;

    &:hover {
      background-color: #f6f8f9;
      border-color: #646f79;
      color: #222b37;
    }
  }
}
