.dashboard-body {
  height: calc(100% - 105px);
}

.dashboard-tasks-container {
  box-sizing: border-box;
  padding: 15px 0;
  display: flex;
  height: 100%;
}

.dashboard-tasks-container .placeholder {
  width: 2%;
  min-width: 15px;
}

.dashboard-body .team-tasks {
  width: 100%;
  min-width: 405px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  height: 100%;
}

.dashboard-body .task-edit {
  position: relative;
  margin-left: 15px;
  width: 80%;
  min-width: 500px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  height: 100%;
}
