.dashboard-body {
  height: calc(100% - 100px);
}

.dashboard-tasks-container {
  box-sizing: border-box;
  padding: 15px 0;
  display: flex;
  height: 100%;
}

.dashboard-tasks-container .placeholder {
  width: 5%;
  min-width: 3px;
}

.dashboard-body .task-index {
  width: 100%;
  min-width: 405px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  height: 100%;
}

.dashboard-body .task-edit {
  -webkit-animation: task-edit-enter 0.5s;
  position: relative;
  margin-left: 1%;
  width: 80%;
  min-width: 500px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  height: 100%;
}

@keyframes task-edit-enter {
  from {transform: translate(100%, 0%);}
  to {transform: translate(0%, 0%);}
}

@-webkit-keyframes task-edit-enter {
  from {transform: translate(100%, 0%);}
  to {transform: translate(0%, 0%);}
}

@-moz-keyframes task-edit-enter {
  from {transform: translate(100%, 0%);}
  to {transform: translate(0%, 0%);}
}
