.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-background [class*="-modal-child"] {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #848f99;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(117, 95, 95, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #646f79;
  -webkit-animation: component-fade-in 0.5s;
}

.session-modal-child {
  background-color: #f6f8f9;
  top: 50%;
  width: 90%;
  height: 740px;
  max-width: 900px;
}

.team-modal-child,
.project-modal-child,
.profile-modal-child {
  top: 40%;
  width: 580px;
  font-size: 13px;
  background-color: #fff;
}

.project-modal-child,
.profile-modal-child {
  text-align: left;
}

.task-modal-child {
  top: 50%;
  width: 500px;
  height: 600px;
  background-color: #fff;
}

.task-modal-child .task-edit {
  width: 100%;
  height: 100%;
}

.task-modal-child .component-close {
  display: none;
}

.modal-close {
  position: absolute;
  color: #ccc;
  transition: 0.3s ease-in-out;
}

.modal-close:hover {
  color: grey;
}

.profile-modal-child .modal-close,
.project-modal-child .modal-close,
.task-modal-child .modal-close {
  font-size: 20px;
  font-weight: 300;
  top: 10px;
  right: 20px;
}

.task-form .modal-close {
  font-size: 20px;
  font-weight: 300;
  top: 5px;
  right: 10px;
}

.team-modal-child .modal-close {
  font-size: 20px;
  font-weight: 300;
  top: 10px;
  right: 20px;
}

.session-modal-child .modal-close {
  font-size: 50px;
  font-weight: 300;
  top: 10px;
  right: 30px;
}
