.top-nav-bar {
  position: relative;
  height: 40px;
  font-size: 13px;
  color: #848f99;
  border-bottom: 1px solid #e0e6e8;
  background-color: white;
  letter-spacing: 0.5px;
}

.top-nav-bar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-nav-bar-list>div {
  margin: 0 26px;
  transition: 0.3s ease-in-out;
}

.my-task-link {
  color: #151b26;
}

.my-task-link:hover {
  color: #14aaf5;
}

.top-nav-bar-list>div:hover {
  color: #14aaf5;
  cursor: pointer;
}

.current-team-option-button div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-team span {
  width: 100px;
}

.current-team .member-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}
