.profile-form {
  width: 100%;
}

.profile-form h1 {
  font-size: 24px;
  padding: 10px 30px;
  border-bottom: 1px solid #e0e6e8;
  color: #151b26;
}

.profile-form-container {
  padding: 15px 30px;
  display: flex;
  justify-content: center;
}

.profile-name {
  display: flex;;
  align-items: center;
}

.profile-name input {
  border: 2px solid #d5dce0;
  border-radius: 3px;
  padding: 12px;
  margin-left: 10px;
}

.profile-name input:focus {
  border: 2px solid #ccc;
  transition: 0.3s ease-in-out;
}
