.project-dropdown {
  width: 215px;
  font-weight: 500;
  border: 1px solid #d5dce0;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
  -webkit-animation: dropdown-show 0.2s;
}

.project-dropdown ul {
  display: flex;
  flex-direction: column;
}

.project-dropdown button {
  height: 40px;
  color: black;
  line-height: 40px;
  font-size: 13px;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #d5dce0;
}

.project-dropdown button:hover {
  background-color: #14aaf5;
  color: #fff;
}

.project-dropdown button {
  width: 100%;
}

.project-dropdown button>li {
  padding-left: 10px;
}
