.team-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-projects .project-header {
  width: 220px;
  min-height: 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #9ca6af;
  align-items: center;
  margin-top: 15px;
}

.team-projects h2 {
  color: #9ca6af;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.team-projects .dot {
  line-height: 16px;
  text-align: center;
  border: 1px solid #9ca6af;
  color: #9ca6af;
  height: 16px;
  width: 16px;
  background-color: #222b37;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  position: relative;
}

.team-projects .dot:after {
  content: "+";
  position: absolute;
  top: -1px;
  left: 3.25px;
}

.team-projects .dot:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #222b37
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9ca6af;
  font-size: 12px;
  letter-spacing: 1px;
}

.project-list .project-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
  width: 244px;
  color: #fff;
  font-weight: 300;
}

.project-list .project-row:hover {
  background-color: #646f79;
}

.project-list .project-row:active {
  background-color: #ccc;
}

.project-list li .project-name {
  margin-left: 13px;
}

.project-list li .project-options {
  font-size: 15px;
  margin-right: 14px;
  line-height: 7px;
}

.project-list li .project-options:hover {
  color: #14aaf5;
}

.project-options .dropdown-visible {
  position: absolute;
  top: -5px;
  right: -220px;
  z-index: 2;
}
