.task-index .task-header {
  height: 50px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.task-index .task-header>div {
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-index .task-header>div>div {
  display: flex;
  align-items: center;
}

.task-header button {
  background-color: #14aaf5;
  border-radius: 3px;
  color: #fff;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  padding: 0 9px;
  transition: 0.3s ease-in-out;
}

.task-header button:hover {
  background-color: #008ce3;
}

.task-sort-option-button {
  position: relative;
  height: 16px;
  margin-left: 10px;
}

.task-sort-option-button svg{
  width: 16px;
  fill: #848f99;
}

.task-sort-option-button svg:hover {
  fill: #32c1ff;
  cursor: pointer;
}

.task-sort-option-dropdown {
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 30px;
  background-color: #fff;
  font-size: 13px;
  border: 1px solid #d5dce0;
  border-radius: 4px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.06);
}

.task-sort-option-dropdown>div {
  color: #848f99;
  margin: 15px;
}

.task-sort-option-dropdown li {
  width: 150px;
  margin: 15px
}

.task-sort-option-dropdown label {
  display: flex;
  white-space: nowrap;
}

.task-sort-option-dropdown input {
  margin-right: 10px;
}

.scroll-layer {
  height: calc(100% - 50px);
  overflow: auto;
}

.task-list {
  margin-top: 2px;
}

.task-list li {
  height: 34px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  font-size: 13px;
}

.task-list .highlight {
  border-color: #32c1ff;
}

.task-list li:hover {
  background-color: #f6f8f9;
  position: relative;
  bottom: 1px;
}

.task-list li .task-item {
  height: 100%;
  margin: 0 30px;
  border-bottom: 1px solid #e0e6e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list li .task-item:focus-within {
  border-color: transparent;
}

.task-item-left {
  display: flex;
  align-items: center;
  width: 60%;
}

.task-list .task-check-box-unchecked,
.task-list .task-check-box-checked {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.task-list .task-check-box-unchecked:hover {
  border-color: #25e8c8;
}

.task-list svg {
  width: 12px;
  height: 12px;
}

.task-item .task-item-input {
  width: 90%;
}

.task-item-input input {
  width: 100%;
}

.task-item-right-red {
  color: red;
}

.task-item-right-green {
  color: #40e0d0;
}
