.task-form {
  display: flex;
  flex-direction: column;
}

.task-form .close {
  position: absolute;
  font-size: 20px;
  font-weight: 300;
  color: #ccc;
  top: 5px;
  right: 10px;
  transition: 0.3s ease-in-out;
}

.task-form .close:hover {
  color: grey;
}

.assignee_and_due_date {
  height: 50px;
  color: #646f79;
  font-size: 13px;
  border-bottom: 1px solid #e0e6e8;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignee_and_due_date .assignee {
  display: flex;
  align-items: center;
  padding: 3px;
  border: 1px solid transparent;
}

.assignee_and_due_date .assignee:hover {
  border: 1px solid #646f79;
  border-radius: 18px;
  background-color: #f6f8f9;
}

.assignee_and_due_date .assignee:hover li {
  border: 1px solid #646f79;
  fill: #646f79;
}

.assignee_and_due_date .assignee li {
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border: 1px dashed #b7bfc6;
  border-radius: 50%;
  margin-right: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #848f99;
}

.assignee_and_due_date .assignee img {
  height: 100%;
  width: 100%;
}

.assignee_and_due_date .assignee .empty-avatar svg {
  height: 16px;
  width: 16px;
}

.task-assignee .assignee-dropdown-visible {
  color: black;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 5px;
  left: 30px;
}

.task-assignee .assignee-dropdown-visible input {
  padding: 12px 10px;
  border: 1px solid #9ca6af;
  border-radius: 3px;
}

.task-assignee .assignee-dropdown-visible ul {
  border: 1px solid #9ca6af;
  border-radius: 3px;
}

.task-assignee .assignee-dropdown-visible li {
  padding: 10px
}

.task-assignee .assignee-dropdown-visible li:hover {
  background-color: #14aaf5;
  color: #fff;
  cursor: pointer;
}

.task-assignee a {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #848f99;
}

.task-assignee a svg {
  width: 10px;
  padding: 2px;
  fill: #fff;
}

.task-assignee a:hover {
  background-color: #646f79;
}

.task-due-date {
  position: absolute;
  right: 30%;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 6px;
}

.task-due-date:focus-within {
  border: 1px solid #9ca6af;
}

.task-option-button  {
  position: relative;
  border: 1px solid #b7bfc6;
  border-radius: 50%;
  color: #848f99;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.task-option-button:hover  {
  background-color: #f6f8f9;
  border-color: #646f79;
  color: #222b37;
  cursor: pointer;
}

.task-option-button span {
  font-size: 20px;
  position: absolute;
  top: -3px;
  left: 5.5px;
}

.task-option-dropdown-visible {
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #d5dce0;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.06);
}

.task-option-dropdown-list {
  font-size: 13px;
  width: 215px;
  padding: 5px 0;
}

.task-option-dropdown-list li {
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
}

.task-option-dropdown-list button {
  color: #151b26;
  width: 100%;
}

.task-option-dropdown-list button:hover {
  background-color: #32c1ff;
  color: #fff;
}

.name_and_description {
  padding: 0 30px;
}

.task-project {
  height: 12px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-project a {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #848f99;
}

.task-project a:hover {
  background-color: #646f79;
  cursor: pointer;
}

.task-project svg {
  width: 12px;
  padding: 3px;
  fill: #fff;
}

.task-project button {
  margin: 0 10px;
  background-color: #edf1f2;
  border-radius: 10px;
  color: #848f99;
  padding: 5px 10px;
  font-size: 13px;
}


.task-project .assignee-dropdown-visible {
  color: black;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 90px;
  left: 40px;
  font-size: 12px;
}

.task-project .assignee-dropdown-visible input {
  padding: 8px 10px;
  border: 1px solid #9ca6af;
  border-radius: 3px;
  width: 100%;
}

.task-project .assignee-dropdown-visible ul {
  border: 1px solid #9ca6af;
  border-radius: 3px;
}

.task-project .assignee-dropdown-visible li {
  padding: 8px 10px;
}

.task-project .assignee-dropdown-visible li:hover {
  background-color: #14aaf5;
  color: #fff;
  cursor: pointer;
}

.task-name {
  font-size: 24px;
  font-weight: 500;
  width: calc(85% + 50px);
  border: 1px solid transparent;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.task-name:hover {
  border-color: #d5dce0;
}

.task-name:focus-within {
  border-color: #9ca6af;
}

.task-name .task-check-box-unchecked {
  border: 1px solid #b7bfc6;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.task-name .task-check-box-unchecked:hover {
  border-color: #25e8c8;
}

.task-name .task-check-box-unchecked svg {
  width: 16px;
  height: 16px;
  color: #848f99;
  fill: #848f99;
}

.task-name .task-check-box-unchecked:hover svg {
  color: #25e8c8;
  fill: #25e8c8;
}

.task-name .task-check-box-checked {
  border: 1px solid #25e8c8;
  border-radius: 50%;
  background-color: #25e8c8;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.task-name .task-check-box-checked svg {
  width: 16px;
  height: 16px;
  color: #fff;
  fill: #fff;
}

#task-name-input {
  width: calc(100% - 50px);
}

.task-description {
  border-bottom: 1px solid #e0e6e8;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.task-description svg {
  width: 15px;
  fill: #b7bfc6;
  margin: 5px 18px 0 18px;
}

#task-description-input {
  padding: 4px 9px;
  padding-bottom: 35px;
  font-size: 13px;
  width: 85%;
  border: 1px solid transparent;
}

#task-description-input:hover {
  border-color: #d5dce0;
}

#task-description-input:focus {
  border-color: #9ca6af;
}
