.team-tasks .task-header {
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.task-header button {
  margin-left: 30px;
  background-color: #14aaf5;
  border-radius: 3px;
  color: #fff;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  padding: 0 9px;
  transition: 0.3s ease-in-out;
}

.task-header button:hover {
  background-color: #008ce3;
}

.scroll-layer {
  height: calc(100% - 50px);
  overflow: auto;
}

.task-list {
  margin-top: 2px;
}

.task-list li {
  height: 34px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  font-size: 13px;
}

.task-list li:focus-within {
  border-color: #32c1ff;
}

.task-list li:hover {
  background-color: #f6f8f9;
  position: relative;
  bottom: 1px;
}

.task-list li .task-item {
  height: 100%;
  margin: 0 30px;
  border-bottom: 1px solid #e0e6e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list li .task-item:focus-within {
  border-color: transparent;
}

.task-item-left {
  display: flex;
  align-items: center;
}

.task-list .task-check-box-unchecked {
  border: 1px solid #b7bfc6;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list .task-check-box-unchecked:hover {
  border-color: #25e8c8;
}

.task-list svg {
  width: 12px;
  height: 12px;
  color: #848f99;
  fill: #848f99;
}

.task-list .task-check-box-unchecked:hover svg {
  color: #25e8c8;
  fill: #25e8c8;
}

.task-list .task-check-box-checked {
  border: 1px solid #25e8c8;
  border-radius: 50%;
  background-color: #25e8c8;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list .task-check-box-checked svg {
  width: 12px;
  height: 12px;
  color: #fff;
  fill: #fff;
}

.task-item .task-item-input {
  width: 200px;
}

.task-item-input input {
  width: 100%;
}

.task-item-right-red {
  color: red;
}

.task-item-right-green {
  color: #40e0d0;
}
