.team-dropdown-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.team-dropdown-child {
  position: absolute;
  top: 41px;
  right: 5px;
  // transform: translate(-50%, -50%); will screw up position absolute
  background-color: #fff;
  min-width: 250px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #646f79;
}
