.dashboard-left-content h1 {
  font-size: 20px;
  padding: 10px 0px;
}

.dashboard-left-content .dashboard-title-section,
.team-members-section,
.member-form {
  width: 100%;
}

.dashboard-title-section>div {
  margin: 0 12px;
}

.team-members .team-members-header {
  border-bottom: 1px solid #9ca6af;
}

.team-members {
  margin: 0 12px;
}

.team-members h2 {
  color: #9ca6af;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.team-members form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-members input {
  width: 80%;
  max-width: 200px;
  height: 30px;
  min-height: 30px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  color: black;
}

.team-members input:focus {
  border: 1px solid #ccc;
}

.team-members input {
  font-size: 12px;
  line-height: 30px;
  padding-left: 10px;
}

.team-members .dot {
  line-height: 16px;
  text-align: center;
  border: 1px solid #9ca6af;
  color: #9ca6af;
  height: 16px;
  width: 16px;
  background-color: #222b37;
  border-radius: 50%;
  position: relative;
}

.team-members .dot:after {
  content: "+";
  position: absolute;
  top: -1px;
  left: 3.25px;
}

.team-members .dot:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #222b37
}

.team-members .member-list {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 2px 0 2px;
}

.team-members .member-list li {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  border: 1px dashed #fff;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-members .member-list .member-avatar:hover {
  cursor: pointer;
}

.team-members .member-list img {
  height: 100%;
  width: 100%;
}

.member-list .empty-avatar svg {
  height: 14px;
  width: 14px;
  fill: #fff;
}

.profile-dropdown {
  position: absolute;
  background-color: #fcbd01;
  margin-top: 5px;
  width: 180px;
  height: 120px;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.profile-dropdown span {
  margin: 0 0 10px 20px;
  font-size: 13px;
}


.member-form .user-search-list {
  position: absolute;
  z-index: 2;
  width: 220px;
  font-size: 12px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.6);
}

.user-search-list li {
  padding: 10px;
  border-bottom: 1px solid #e0e6e8;
  transition: 0.3s;
}

.user-search-list li:hover {
  cursor: pointer;
  background-color: #14aaf5;
  color: #fff;
}
