.team-dropdown {
  background-color: #fff;
  position: absolute;
  color: #000;
  right: 5px;
  top: 41px;
  border: 1px solid #d5dce0;
  width: 240px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
  z-index: 2;
  -webkit-animation: component-fade-in 0.3s;
}

.team-dropdown-container ul {
  border-bottom: 1px solid #d5dce0;
  padding: 10px 0px;
}

.team-dropdown-container li {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}

.team-dropdown-container li:hover {
  background-color: #14aaf5;
  color: #fff;
}

.team-dropdown-container button {
  width: 100%;
}

@keyframes component-fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes component-fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes component-fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
