.splash-nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  font-family: 'Montserrat', sans-serif;
  color: #646f79;
}

.splash-nav-bar h1 {
  font-size: 30px;
}

.splash-right-nav {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.splash-nav-bar-left {
  display: flex;
  align-items: center;
}

.splash-nav-bar-left {
  width: 50px;
  height: 50px;
}

.splash-nav-bar-left h1 {
  margin-left: 15px;
}

.splash-right-nav button {
  margin-left: 32px;
  letter-spacing: 0.5px;
  transition: 0.3s ease-in-out;
}

.splash-right-nav button:hover {
  color: #796eff;
}

.splash-right-nav button:last-child {
  border: 2px solid #796eff;
  border-radius: 3px;
  color: #796eff;
  padding: 8px 16px;
  margin-right: 14px;
  transition: 0.3s ease-in-out;
}

.splash-right-nav button:last-child:hover {
  background-color: #796eff;
  color: white;
}
