.dashboard-main {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: #161d28;
  background-color: #f6f8f9;
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 244px;
  background-color: #222b37;
  color: white;
  height: 100vh;
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  width: calc(100% - 244px);
}
