.team-dropdown {
  border: 1px solid #d5dce0;
  width: 240px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}

.team-dropdown ul>ul {
  border-bottom: 1px solid #d5dce0;
  padding: 10px 0px;
}

.team-dropdown li {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}

.team-dropdown li:hover {
  background-color: #14aaf5;
  color: #fff;
}

.team-dropdown button {
  width: 100%;
}
